{
    "presets": ["env", "react"],
    "plugins": ["transform-class-properties"],
    "sourceMaps": true,
    "retainLines": true,
    "env": {
        "test": {
          "plugins": [
            "istanbul"
          ]
        }
    }
}