# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

build output
dist

# package lock file
package-lock.json

# Vscode 
.vscode/
src/client/.DS_Store
.DS_Store
